GUI {
    background-color: qlineargradient(x1:0,
    y1: 0,
    x2: 0,
    y2: 1,
    stop: 0 rgb(91, 91, 91),
    stop: 1 rgb(57, 57, 57));
    border: 0;

}
/*############*/
/*Purchase css*/
/*############*/

MainController #purchaseView QPushButton {
    background-color: rgba(44, 44, 44, 150);
    color: white;
    border: 0;
    width: 60px;
    height: 60px;
    font-size: 30px;
}

MainController #purchaseView QPushButton:pressed {
    background-color: rgb(69, 69, 69);
    width: 1000%;
}


MainController  QLineEdit {
    border: 0;
    background-color: rgba(91, 91, 91, 0);
    color: white;
    font-size: 40px;
}

/*#########*/
/*Menu css */
/*#########*/



